<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="courseRegistrationResultLayer">
  <div class="course-registration-details">
    <div class="course-registration-details-title">
      <span class="course-registration-details-title-text">수강 신청 결과</span>
    </div>
    <div class="course-registration-details-content">
      <table class="table course-registration-details-table">
        <thead class="thead course-registration-details-table-header">
        <tr class="tr">
          <th class="th">대학명</th>
          <th class="th">학부명</th>
          <th class="th">학과명</th>
          <th class="th">과목명</th>
          <th class="th">구분</th>
          <th class="th">학점</th>
          <th class="th">강의번호</th>
          <th class="th">강의시간</th>
          <th class="th">수강정원</th>
          <th class="th">수강신청인원</th>
          <th class="th">수강신청</th>
        </tr>
        </thead>
        <tbody class="tbody course-registration-details-table-content"></tbody>
      </table>
    </div>
  </div>
</th:block>

</html>